.testimonial-swiper{

    padding:20px 0;
}
.testimonial-swiper .swiper-slide{
height: auto;
    
}

.testimonial-swiper .swiper-slide-next::after ,
.testimonial-swiper .swiper-slide-prev::after{
    display: none;
}
.swiper-slide-next , .swiper-slide-prev {
    display: none;
}

.swiper-button-next-custom.swpier-button-disabled ,
.swiper-button-prev-custom.swiper-button-disabled
{
    opacity: .5;
    cursor: not-allowed;
}